<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Dirección</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inmueble of inmuebles">
      <td>{{ inmueble.id }}</td>
      <td>{{ inmueble.direccion }}</td>
      <div *ngIf="inmueble.estadoInmuebleList[0]?.hasOwnProperty('id')">
        <td>{{ inmueble.estadoInmuebleList[0].estado}}</td>
      </div>
      <div *ngIf="!inmueble.estadoInmuebleList[0]?.hasOwnProperty('id')">
        <td> Buenos dias </td>
      </div>
    </tr>
  </tbody>
</table>