<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">

            <h1> ESCENARIOS</h1>
            <h3> Haz click sobre el escenario que deseas para consultar su disponibilidad </h3>
            <br />
            <a href="#form" class="btn btn-outline-neutral btn-round"> <i _ngcontent-uca-c117=""
                    class="nc-icon nc-istanbul"></i> Agregar </a>

            <app-tabla-escenarios></app-tabla-escenarios>

        </div>
    </div>
</div>

<div class="section landing-section">
    <app-nuevo-escenario id="form"></app-nuevo-escenario>
</div>

